.bienvenida{
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;  
  font-weight: bold;
  margin: 1rem 0;
}

.excursiones {
  display: flex;
  flex-wrap: wrap;           
  gap: 20px;                 
  justify-content: center;   
  align-items: flex-start;   
  text-align: center;
  position: relative;
}

.loading {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.excursiones .card {
  flex: 1 1 calc(25% - 20px); /* 4 por fila en desktop */
  max-width: calc(25% - 20px);
  box-sizing: border-box;
}

.excursionesLista {
  display: flex;
  flex-wrap: wrap;     
  gap: 1rem;           
  margin-top: 1rem;
}

.categoriaTitulo {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%;            
  box-sizing: border-box; 
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.categoriaTitulo span {
  flex: 1 1 auto;     
  text-align: left;   
}

.btnLimpiar {
  margin-left: 1rem;    
  background-color: #02607C;
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.9rem;
}

/* Estilos para página de detalle de excursión */

.excursionDetalle {
  display: flex;
  gap: 1rem;
  margin: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  padding: 1rem;
}

.excursionInfo {
  flex: 1 1 auto;           
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.excursionTitulo { 
  margin: 0 0 .75rem; 
}
.excursionItems { 
  margin: 0; line-height: 1.5; 
}

.excursionImagen {
  flex: 0 1 50%;               
  max-width: 50%;
  min-width: 50%;
  margin: 0;                   
}

.excursionImagen img {
  width: 100%;
  height: auto;                
  display: block;
}

.buttonCart {  
  background-color: #02607C;
  color: white;
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .excursiones .card {
    flex: 1 1 100%;      /* una sola card para el ancho en mobile */
    max-width: 100%;     
  }

  .excursionDetalle {
    flex-direction: column; /* cambio display de cards para mobile */
    align-items: center;
  }

  .excursionInfo, .excursionImagen {
    max-width: 100%;
    flex: 1 1 100%;
  }

  .excursionInfo {
    padding: 0 10px;
  }
}